<p>Welcome <%= @user.login %>,</p>

<p>Thank you for creating a <b><%= @poll.title %></b>!</p>
You are participant number <%= @poll.participants  %>
<p><%= link_to "Edit poll", poll_url(@poll, :host => "localhost:3000") %></p>
