<h2>List of <b>MANAGERS</b></h2>
<table width="100%" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @managers.each do |user| %>
    <tr>
      <td><%= user.login %></td>
      <td><%= user.role.name %></td>
      <td><%= user.email %></td>

      <td><%= link_to 'Make Normal', make_normal_path(user) %></td>
      <td><%= link_to 'Make Admin', make_admin_path(user) %></td>

      <% if current_user.login != user.login %>
      <% if user.banned %>
      <td><%= link_to 'Release', release_path(user) %></td>
      <% else%>
      <td><%= link_to 'Ban', ban_path(user) %></td>

      <% end %>
      <td><%= link_to 'Destroy', destroy_path(user), method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
