<div id="admins" class="jumbotron">
  <%= render 'admins' %>
</div>

<div id="managers" class="jumbotron">
  <%= render 'managers' %>
</div>

<div id="normals" class="jumbotron">
  <%= render 'normals' %>
</div>
