<div class="jumbotron">
<%= form_for(@poll) do |f| %>
<fieldset>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label :title, class: "control-label" %>
    <div><%= f.text_field :title, class: "form-control" %></div>
  </div>
  <div class="form-group field">
    <%= f.label :description, class: "control-label" %>
    <div><%= f.text_area :description, class: "form-control", rows: "4" %></div>
  </div>
  <div class="form-group field">
    <%= f.label :start, class: "control-label"%>
    <div><%= f.datetime_select :start, class: "form-control" %></div>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
  <%= f.hidden_field :participants, value: 0.0 %>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
</fieldset>
<% end %>
</div>
