<div class="jumbotron">
<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @poll.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @poll.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @poll.end %>
</p>

<%= link_to 'Add Candidate', new_poll_candidate_path(@poll), class: 'btn  btn-raised' %>
<%= link_to 'Edit', edit_poll_path(@poll), class: 'btn btn-default btn-raised' %>
<%= link_to 'Back', polls_path, class: 'btn btn-default btn-raised' %>
</div>

<%= render 'candidates' %>
