<div class="jumbotron">
<%= form_for(@candidate) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label :poll_id, class: "control-label" %>
    <div>
      <%= f.hidden_field :poll_id, class: "form-control" %>
      <%= label 'poll', @candidate.poll.title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label :name, class: "control-label" %>
    <div><%= f.text_field :name, class: "form-control" %></div>
  </div>

  <div class="form-group field">
    <%= f.label :description, class: "control-label" %>
    <div><%= f.text_area :description, class: "form-control", rows: "4" %></div>
  </div>

  <div class="form-group field">
    <%= f.label :link1, class: "control-label" %>
    <div><%= f.text_field :link1, class: "form-control" %></div>
  </div>

  <div class="form-group field">
    <%= f.label :link2, class: "control-label" %>
    <div><%= f.text_field :link2, class: "form-control" %></div>
  </div>

  <!-- <div class="field">
    <%= f.label :poll_id %><br>
    <%= f.text_field :poll_id %>
  </div> -->
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
