<div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @candidate.description %>
</p>

<p>
  <strong>Poll:</strong>
  <%= @candidate.poll.title %>
</p>

<p>
  <strong>Link1:</strong>
  <% if @candidate.link1.present? %>
  <%= link_to @candidate.link1[0, 64] + ' ...', @candidate.link1, target: '_blank' %>
  <% end %>
</p>

<p>
  <strong>Link2:</strong>
  <% if @candidate.link2.present? %>
    <%= link_to @candidate.link2[0, 64] + ' ...', @candidate.link2, target: '_blank' %>
  <% end %>
</p>

</div>
<%= link_to 'Edit', edit_candidate_path(@candidate), class: 'btn btn-default btn-raised' %>
<!-- <%= link_to 'Back', candidates_path %> -->
<%= link_to 'Back', :back, class: 'btn btn-default btn-raised' %>
