<div class="jumbotron">
  <h2>Sign in</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>


  <div class="form-group">
    <label for="login" class="col-sm-2 control-label">AIT username</label>
    <!-- <%= f.label 'AIT username', class: "col-sm-2 control-label" %> -->
    <div class="col-sm-6">
      <%= f.text_field :login, class: "form-control floating-label", autofocus: true, placeholder: 'AIT username' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6">
      <% if devise_mapping.rememberable? -%>
      <div>
        <%= f.check_box :remember_me, class: "col-sm-2" %> <%= f.label :remember_me %>
      </div>
      <% end -%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit "Sign in", class: "btn btn-default"  %>
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
