<div class="jumbotron">
<h1>Listing polls</h1>

<table width="100%" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Candidates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.title %></td>
        <td><%= poll.start %></td>
        <td><%= poll.end %></td>
        <td><%= poll.candidates.count %></td>
          <td><%= link_to 'View', election_view_path(poll) %></td>
        <!-- <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
        <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
