<div class="jumbotron">
<p id="notice"><%= notice %></p>


<p>
  <strong>Poll:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @poll.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @poll.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @poll.end %>
</p>
</div>

<div class="jumbotron">
  <p>List of Candidates</p>
  <table width="100%" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Poll</th>
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @poll.candidates.each do |candidate| %>
        <tr>
          <td><%= candidate.name %></td>
          <td><%= candidate.description %></td>
          <td><%= candidate.poll.title %></td>
          <td><%= link_to 'Show', candidate %></td>
          <td><%= link_to 'Vote', vote_path(candidate, @poll) %></td>
           <!-- <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
          <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
