<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <b>
       <%= link_to 'Nina', root_path, class: "navbar-brand" %></b>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <!--
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
-->


        <ul class="nav navbar-nav navbar-right">
          <li class="<%= 'active' if current_page?(root_path) %>"> <%= link_to 'Home', root_path %></li>
          <!-- <li class="<%= 'active' if current_page?(root_path) %>"> <%= link_to 'page 1', root_path %></li> -->

          <% if user_signed_in? %>

                <% if current_user.admin? %>
                <li><%= link_to 'Admin', admin_path %></li>
                <li class="dropdown">
                  <%= link_to "admin stuff", "#", :data => {:toggle=>"dropdown"}, :class=>"dropdown-toggle"%>
                  <ul class="dropdown-menu">
                    <li>meh</li>
                  </ul>
                </li>
                <% end %>
                <% if current_user.manager? %>

                    <li class="dropdown">
                      <%= link_to "Manager", "#", :data => {:toggle=>"dropdown"}, :class=>"dropdown-toggle"%>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Polls', polls_path %></li>
                        <li><%= link_to 'Add Poll', new_poll_path %></li>
                      </ul>
                    </li>
                <% end %>


          <li class="dropdown">
            <%= link_to current_user.login, "#", :data => {:toggle=>"dropdown"}, :class=>"dropdown-toggle"%>
              <ul class="dropdown-menu">
                <li><%= link_to 'Profile', '#' %></li>
                <li class="divider"></li>
                <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              </ul>
          </li>
          <% else %>
            <li class="<%= 'active' if current_page?(new_user_session_path) %>"> <%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>

        </ul>



    </div>
</div>
