<!DOCTYPE html>
<html>
<head>
  <title>Election01</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/nav_items' %>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div id="flash_notice" class="alert notice fade in" style="display:none"></div>
      <%= render 'layouts/message' %>

      <%= yield %>
    </div>

    <div class="col-lg-3">
      <div class="well sidebar-nav">
        <h3>Links</h3>
        <ul class="nav nav-list">
          <li class="nav-header">Links</li>
          <li><%= link_to "Link 1", "#"  %></li>
          <li><%= link_to "Link 2", "#"  %></li>
          <li>
            <%= link_to "Link 3", "#"  %>
            <ul class="nav nav-list">
              <li><%= link_to "Example link", "#"  %></li>
              <li><%= link_to "Example link", "#"  %></li>
              <li><a href="example link" download>example</a></li>
              <li><a href="example">example</a></li>
            </ul>
          </li>
          <li><%= link_to "Example", "#"  %></li>

        </ul>
      </div><!--/.well -->
    </div><!--/span-->
  </div>

  <footer>

    <p 	>&copy; Copyright 2015 Nina. All Rights Reserved.</p>

    <div>By: <br>
      <div class="g-person" data-href="//plus.google.com/u/0/+ChiragRajkarnikar" data-theme="light" data-layout="landscape" data-showtagline="false" data-showcoverphoto="false" data-rel="author"></div>
      
    </div>
  </footer>

</body>
</html>
